<h3>Message reçu</h3>
Bonjour {{ name }}! Votre message a bien été envoyé.
Nous vous répondrons dans les plus brefs délais sur cette adresse mail ou bien par téléphone si vous l'avez renseigné.
Merci de votre compréhension.
